<IfModule mod_rewrite.c>
	   RewriteEngine On
    RewriteRule "^admin/?$"  "index.php"
    RewriteRule "^admin/users/\w([^/.]*)/edit/?$" "edit_user.php"
    RewriteRule "^admin/users/\w([^/.]*)/delete/?$"  "delete_user.php"
    RewriteRule "^admin/login/?$"  "login.php"
    RewriteRule "^admin/logout/?$"  "logout.php"
    RewriteRule "^admin/users/add/?$"  "add_user.php" 
    RewriteRule "^admin/users/?"  "list_user.php" 
</IfModule>