<?php
	$paginationButton = [];
	if( $currentPage == 1 || $currentPage > $totalPages )
	{
		$paginationButton = array(
		array( "class" => "page-item disabled", "number" => 1, "item" => "First"),
		array( "class" => "page-item disabled", "number" => 1, "item" => "<span aria-hidden='true'>&laquo;</span>"),
		array( "class" => "page-item active", "number" => 1, "item" => 1),
		array( "class" => "page-item", "number" => 2, "item" => 2),
		array( "class" => "page-item", "number" => 3, "item" => 3),
		array( "class" => "page-item", "number" => 2, "item" => "<span aria-hidden='true'>&raquo;</span>"),
		array( "class" => "page-item", "number" => $totalPages, "item" => "Last")
		);

	}

	elseif($currentPage < $totalPages )
	{

		$paginationButton = array(
		array( "class" => "page-item", "number" => 1, "item" => "First"),
		array( "class" => "page-item ", "number" => ($currentPage - 1), "item" => "<span aria-hidden='true'>&laquo;</span>"),
		array( "class" => "page-item", "number" => ($currentPage - 1), "item" => ($currentPage - 1)),
		array( "class" => "page-item active", "number" => ($currentPage), "item" => $currentPage),
		array( "class" => "page-item", "number" => ($currentPage + 1), "item" => ($currentPage + 1)),
		array( "class" => "page-item", "number" => ($currentPage + 1), "item" => "<span aria-hidden='true'>&raquo;</span>"),
		array( "class" => "page-item", "number" => $totalPages, "item" => "Last")
		);

	}

	else
	{
		$paginationButton = array(
		array( "class" => "page-item", "number" => 1, "item" => "First"),
		array( "class" => "page-item", "number" => 1, "item" => "<span aria-hidden='true'>&laquo;</span>"),
		array( "class" => "page-item", "number" => ($currentPage - 2), "item" => ($currentPage - 2)),
		array( "class" => "page-item", "number" => ($currentPage - 1), "item" => ($currentPage - 1)),
		array( "class" => "page-item active", "number" => $currentPage, "item" => $currentPage),
		array( "class" => "page-item disabled", "number" => $currentPage - 1, "item" => "<span aria-hidden='true'>&raquo;</span>"),
		array( "class" => "page-item disabled", "number" => $totalPages, "item" => "Last")
		);

	}

	for($i = 0; $i <7; $i++)
	{
		?>
			<li class='<?php echo $paginationButton[$i]["class"]; ?>'>
			<a class='page-link' href='http://localhost/admin/users?page=<?php echo $paginationButton[$i]["number"]; ?>&count=<?php echo $limit; ?>' ><?php echo $paginationButton[$i]["item"]; ?></a>
			</li> 
		<?php
	}
?>