<li class='page-item'>
	<a class='page-link' href='http://localhost/admin/users?page=1&count=<?php echo $limit; ?>' >First</a>
</li>
<li class='page-item'>
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $backPage; ?>&count=<?php echo $limit; ?>'><span aria-hidden="true">&laquo;</span></a>
</li>
<li class='page-item'> 
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $lastThirdPage; ?>&count=<?php echo $limit; ?>'><?php echo $lastThirdPage; ?></a>
</li>
<li class='page-item '>
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $backPage; ?>&count=<?php echo $limit; ?>'><?php echo $backPage; ?></a>
</li>
<li class='page-item active'>
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $currentPage; ?>&count=<?php echo $limit; ?>'><?php echo $currentPage; ?> </a>
</li>
<li class='page-item disabled'>
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $totalPages; ?>&count=<?php echo $limit; ?>'><span aria-hidden="true">&raquo;</span></a>
</li>
<li class='page-item disabled'>
	<a class='page-link' href='http://localhost/admin/users?page=<?php echo $totalPages; ?>&count=<?php echo $limit; ?>'>Last</a>
</li>