<?php
	if($currentPage > $totalPages || !(preg_match('<^\d[0-9]*$>', $currentPage)))
	{
		$currentPage = 1;
		$nextPage = $currentPage + 1;
		$thirdPage = $nextPage + 1;
		include("pagination.case_invalid_page.html");
	}
	
	elseif($currentPage == 1)
	{
		$nextPage = $currentPage + 1;
		$thirdPage = $nextPage + 1;
		include("pagination.case_first_page.html");
	}

	elseif($currentPage < $totalPages )
	{
		$backPage = $currentPage - 1;
		$nextPage = $currentPage + 1;
		include("pagination.case_middle_page.html");
	}

	else
	{
		$backPage = $currentPage - 1;
		$lastThirdPage = $backPage - 1;
		include("pagination.case_last_page.html");
	}
?>