<IfModule mod_rewrite.c>
	RewriteEngine On

    RewriteRule "^admin$"  "index"
    RewriteRule "^admin\/$"  "index"
    RewriteRule "^admin/users/edit$"  "edit_user.php"
    RewriteRule "^admin/users/delete$"  "delete_user.php"
    RewriteRule "^admin/login$"  "login.php"
    RewriteRule "^admin/logout$"  "logout.php"
    RewriteRule "^admin/users/add$"  "add_user.php"
    RewriteRule "^admin/users$"  "list_user.php"
	RewriteCond %{REQUEST_URI} !\.php$ [NC]	
	RewriteCond %{REQUEST_URI} [^/]$	
	RewriteRule ^(.*)$ $1.php
	
</IfModule>
